= render partial: "current_task_menu" if @current_task.present?
= render partial: "explanation_of_demilitarization"
= render partial: "tasks_panel"
= render partial: "call_to_action"
= render partial: "military_justice_downsides"
= render partial: "condemnation"
= render partial: "steps"
= render partial: "ocupations"
= render partial: "adpf"
= render partial: "partners"
