p Como você sabe, precisamos reunir milhares de vozes no Brasil inteiro para pressionar e acabar com o julgamento de civis por tribunais militares. Você já pressionou, mas é importante que convoque seus amigos e familiares para as missões pela desmilitarização da justiça. Juntos, podemos derrotar as forças autoritárias!

p Abaixo, segue um modelo de email que você pode usar como inspiração (ou copiar e colar) para enviar para seus contatos,

p Por um Brasil mais democrático,

p Guilherme, Rodrigo e toda a equipe da Rede Meu Rio

p
  | -------

p Apesar de vivermos em uma democracia, hoje qualquer cidadão civil pode virar réu da justiça militar, caso seja acusado de desacato ou outras formas de insubordinação contra membros das Forças Armadas. Na prática esse é mais um resquício da Ditadura na nossa democracia, e temos que nos mobilizar para acabar com isso.

p A Procuradoria Geral da República entrou com uma ação no Supremo Tribunal Federal (a ADPF 289) e o voto do STF deve ocorrer ainda esse ano. Mas, os setores autoritários não querem abrir mão de seus privilégios, e já estão se movimentando para tentar influenciar os ministros responsáveis por julgar a ação.

p Por isso, é fundamental que reunir milhares de vozes, pedindo a desmilitarização da justiça. Só uma pressão popular forte será capaz de acabar com essa aberração autoritária.

p Junte-se a mim nessa missão agora: http://desmilitarizacaodajustica.meurio.org.br/
