.row
  +grid-row()

.button
  text-transform: uppercase
  padding-top: .3em !important
  padding-bottom: .3em !important

[class^="icon-"], [class*=" icon-"]
  span
    font-family: $body-font-family
