.tasks-panel
  .tasks-menu
    +grid-column(4)
    span.tasks-menu-title
      background: $blue
      display: block
      padding: 1em
      font-size: 1.5em
      text-align: center
      color: $gray
      font-weight: bold
    ul
      background: $gray
      color: white
      margin: 0
      padding: 2em
      li
        position: relative
        list-style: none
        span.mission, span.name
          padding-left: 40px
          font-weight: bold
          line-height: normal
          display: block
        span.mission
          font-size: .9em
          color: $blue
        span.name
          font-size: 1.3em
        &:before
          font-size: 2em
          position: absolute
          top: 15px
        &.accomplished
          color: $blue
  .task
    +grid-column(8)
    .briefing
      +grid-column($columns: 10, $center: true)
      text-align: center
      .mission-type
        color: $blue
        margin-bottom: 1.5em
        span
          font-size: 1.5em
          font-weight: bold
        &:before
          display: block
          font-size: 5em
          line-height: .75em
      h2
        font-size: 1.75em
        font-weight: bold
      p
        font-size: 1.25em
    form
      +grid-column($columns: 6, $center: true)
      .submit-field
        text-align: center
        .button
          width: 100%

  @media (max-width: 900px)
    .tasks-menu, .task
      +grid-column(12)
    .tasks-menu
      margin-bottom: 2em

  @media (max-width: 750px)
    .task
      form, .briefing
        +grid-column(12)
